.content-by-meal-page{
	background: url("../images/bg-in.jpg") top center no-repeat;
	width: 1200px; margin: 0 auto;
	}
.my-location-page{height: 45px;}

.create-bistro-icon{ background: url("../images/icons/iconAddReview.png") top left no-repeat; position: relative; z-index: 50; height: 60px;
padding: 0 0 10px 98px; top: 5px; left:30px;display:inline}		

.content-create-bistro{
	width: 1200px;
	margin: 0 auto;
	background: #ffffff url("../images/bgAddReview.png") top 44px right 9% no-repeat;
	padding:0 0 50px 0;
	position:relative;
}
		.content-create-bistro h2{
				color: #92c01f;
				font-family: "supermarket";
				font-size: 30px;
				line-height: 135px;
				font-weight: normal;
				text-align: left;
				width: 1035px;
				margin: 0 auto;
				height: 50px;
		}
			
.bistro-form{
	width: 1200px;
	margin: 0 auto;
	padding-top: 35px;
}
.bistro-form-in{
	width: 1000px;
	padding: 45px 0px 75px 35px;
	margin: 0 auto;
	
	border: solid #92c01f;
	border-width: 0 1px;
	border-top: 1px solid #92c01f !important;
	border-bottom: 1px solid #92c01f !important;
}

	
.col-left {
	width:70.94685990338165%; /* 755 / 1035 */
	padding:1.932367149758454%; /* 20 / 1035 */
	float:left;
	position:relative;
	display:inline;
}

.col-right{
	width:24.22222222222222%; /* 230 / 1035 */
	float:right;
	display:inline;
	position:relative;
	height:700px;
	overflow:hidden;
	overflow-y:scroll;
	overflow-x:hidden;
}
.col-right::-webkit-scrollbar {
    -webkit-appearance: none;
}

.col-right::-webkit-scrollbar:vertical {
    width: 8px;
}

.col-right::-webkit-scrollbar:horizontal {
    height: 100px;
}

.col-right::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 1px solid white; /* should match background, can't be transparent */
    background-color: #cef288;
}

.col-right::-webkit-scrollbar-track { 
    background-color: #fff; 
    border-radius: 8px; 
} 
.review_img{
	width:30%;
	clear:both;
	display:inline;
	position:relative;
}
.wpuf-section-title{
	color:black !important;
}
.wpuf-attachment-list thumbnails{
	position:relative;
	width:230px !important;
	height:150px !important;
}
.wpuf-section-details{
	display:none;
}
.buttonImg,
.buttonImg:hover,
.buttonImg:focus {
	background-image:url('../images/selectImg.png') !important;
	background-position: center top;
	background-repeat:no-repeat;
	width:230px !important;
	height:150px !important;
	cursor:pointer;
	color:transparent;
	border:0px;
	position:relative;overflow:hidden;
	
}
ul.wpuf-form li .wpuf-fields ul.wpuf-attachment-list li .attachment-name img{
  text-align: center;
  width:210px;
  
}
ul.wpuf-form li .wpuf-fields ul.wpuf-attachment-list li {
  display: inline-block;
  border: 1px solid #eeeeee;
  padding: 5px;
  width: 215px; 
  margin-right: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.wpuf-file-input-wrap textarea{
	width:210px !important;
	height:24px;
	resize: none; 
}
ul.wpuf-form li .wpuf-section-wrap {
  border-bottom: 0px;
}
.filename{
	display:none;
}
ul.wpuf-form li .wpuf-label{
float:left;
width:25%;
height:20px;
}
ul.wpuf-form .wpuf-submit input[type=submit]{
	background-image:url('../images/AddButton.png');
	font-size:0px;
	width:120px;
	height:30px;
	border:0px;
	
}
.iconReview{
	margin-top:10px;
	padding:10px;
	vertical-align:middle;
}


