.recipe-exceprt{ width: 235px;}

.pagetitle,.edit-link{
	  display:none;
	}
	.iconRecipe{
	  vertical-align:middle;
	  margin-left: 10px;
	  margin-right: 5px;
	}
	.content-create-recipe h2 {
	  color: #f6921e;
	  font-family: "supermarket";
	  font-size: 30px;
	  line-height: 135px;
	  font-weight: normal;
	  text-align: left;
	  width: 1035px;
	  margin: 0 auto;
	  height: 50px;
	}
	.content-create-recipe {
	  width: 1200px;
	  margin: 0 auto;
	  background: #ffffff url("../images/recipes/top-edit-recipe.jpg") top right no-repeat;
	  padding: 127px 0 0 0;
	  position: relative;
	}
	.recipe-form {
	  width: 1200px;
	  margin: 0 auto;
	  padding-top: 35px;
	}
	.recipe-form-in {
	  width: 1000px;
	  background: #ffffff url("../images/recipes/bg-add-recipe.jpg") bottom center no-repeat;
	  padding: 45px 0px 200px 35px;
	  margin: 0 auto;
	  border: solid #f6921e;
	  border-width: 0 1px;
	  border-top: 1px solid #f6921e !important;
	  border-bottom: 1px solid #f6921e !important;
	  font-size: 14px; color: #464646;
	}
	ul.wpuf-form li .wpuf-fields ul.wpuf-attachment-list li {
	  width: 120px;
	  margin-right: 5px;
	  padding: 0;
	  float:left;
	}
	li.wpuf-el.review_recipeid.col-left {
	  display: none;
	}
	.col-left{
	   width: 80%;
	   float:left;
	   display:inline;
	   text-align:left;
	}
	.col-right{
	  width:245px;
	  float:right;
	  display:inline;
	  height:700px;
	  position:relative;
	  overflow-y:scroll !important;
	  overflow-x:hidden;
	}
	.col-right::-webkit-scrollbar {
		border-radius: 8px;
		border: 1px solid white; /* should match background, can't be transparent */
		background-color: #cef288;
	}
	.col-right::-webkit-scrollbar:vertical {
		width: 8px;
	}

	.col-right::-webkit-scrollbar:horizontal {
		height: 100px;
	}

	.col-right::-webkit-scrollbar-thumb {
		border-radius: 8px;
		border: 1px solid white; /* should match background, can't be transparent */
		background-color:##cef288;
	}

	.col-right::-webkit-scrollbar-track { 
		background-color: #cef288; 
		border-radius: 8px;
	} 
	ul.wpuf-form li .wpuf-fields ul.wpuf-attachment-list li .attachment-name img {
	  text-align: center;
	  width: 120px;
	}
	ul.wpuf-form li .wpuf-fields textarea {
	  padding-left: 3px;
	  width: 98%;
	}
	.buttonImg, .buttonImg:hover, .buttonImg:focus {
	  background-image: url('../images/selectImg.png') !important;
	  background-position: center top;
	  background-repeat: no-repeat;
	  width: 230px !important;
	  height: 150px !important;
	  cursor: pointer;
	  color: transparent;
	  border: 0px;
	  position: relative;
	  overflow: hidden;
	  display:inline;
	  margin-left: 58px;
	}
	ul.wpuf-form .wpuf-submit input[type=submit] {
	  background-image: url('../images/EditButton.png');
	  font-size: 0px;
	  width: 120px;
	  height: 30px;
	  border: 0px;
	  cursor:pointer;
	}
	
	
	
	
	
	
	
	
	
	

	

.dir1, .dir2, .dir3, .dir4, .dir5, .dir6, .dir7, .dir8, .dir9, .dir10{
 display: inline;float:left; width:  60%;
}


.dir1-img, .dir2-img, .dir3-img, .dir4-img, .dir5-img, .dir6-img, .dir7-img, .dir8-img, .dir9-img, .dir10-img{
 display: inline;float:left; width:  30%;
}

.recipe-tag{ width: 100%;}
	
	
	